@use 'variables' as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: v.$black;
  color: v.$white;
  font-size: 20px;
  padding: 2.4rem 3.5rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.36rem;
  padding-right: 9rem;
}

@mixin button--arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: v.$orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.4rem;
}

@mixin button-reverse {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: v.$orange;
  color: v.$white;
  font-size: 20px;
  padding: 2.4rem 3.5rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.36rem;
  padding-right: 9rem;
}

@mixin button--arrow-reverse {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: v.$black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.4rem;
}