@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.location {
    
    &__img {
        background-image: url("/img/maps.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 65dvh;
        
        @include mx.breakpoint(tablet) {
            height: 50dvh;
        }
        
        @include mx.breakpoint(tablet) {
            height: 45dvh;
            background-position: center;
        }
    }
    
    .wrapper-btn {
        @include mx.breakpoint(tablet) {
            margin-inline: auto;
            padding-inline: 5.6rem;
        }

        @include mx.breakpoint(desktop) {
            margin-inline: auto;
            padding-inline: 16.5rem;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        background-color: v.$black;
        padding-block: 4.8rem;
        padding-inline: 1.6rem;

        @include mx.breakpoint(tablet) {
            margin-inline: auto;
            flex-direction: row;
            gap: 6.8rem;
        }
        
        @include mx.breakpoint(desktop) {
            padding-inline: 16.5rem;
        }

        &--title {
            font-size: 5rem;
            color: v.$white;
            margin-bottom: 4rem;
        }

        &--subtitle {
            font-size: 3.2rem;
            color: v.$orange;
            margin-bottom: 2rem;
        }

        &--details {
            display: flex;
            flex-direction: column;
            color: v.$white;
            margin-bottom: 2rem;
        }

        &--description {
            color: v.$white;

            @include mx.breakpoint(tablet) {
                max-width: 95%;
            }
        }
    }
}