@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.btn {
    @include mx.button;
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: v.$orange;
        
        .btn__arrow {
            background-color: v.$black;
        }
    }
    
    &__arrow {
        @include mx.button--arrow;
        transition: background-color 0.3s ease;
    }
}

.btn-back {
    @include mx.button-back;
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: v.$black;
        
        .btn-back__arrow {
            background-color: v.$orange;
        }
    }
    
    &__arrow {
        @include mx.button--arrow-back;
        transition: background-color 0.3s ease;
    }
}