@use '@abstracts/variables' as v;

.hero {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    &__img {
        background-image: url("/img/hero.png");
        height: 35dvh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 47% center;
    }

    &__content {

        &--title {
            font-size: 6rem;
            line-height: 2.5lh;
            font-weight: 900;
            max-width: 85%;
            margin-bottom: 3.2rem;
        }

        &--description {
            margin-bottom: 3.2rem;
        }

        &--actions {
            display: flex;
            align-items: center;

            .btn {
                margin-bottom: 12rem;
            }

            // .btn--arrow {
                
            // }
        }

    }
}